{% extends "layout_base.html" %}
{% block pageTitle %}Edit{% endblock %}
{%- block headLink %}
<link rel="stylesheet" href="/styles/editor-0.css">
{% endblock %}
{% block content %}
<div id="question-editor">
    <input id="titleInput" class="" placeholder="在这里输入问题" type="text">
    <textarea id="answerInput" placeholder="我的回答是什么？"></textarea>
    <div id="tags-wrapper">
        <input id="tagsInput" placeholder="在这里输入标签" data-role="tagsinput">
    </div>
    <div id="btn-bar">
        <button id="saveBtn" class="pure-button pure-button-primary">保存</button>
        <button id="previewBtn" class="pure-button button-success pure-button-disabled">预览</button>
        <button id="publishBtn" class="pure-button button-warning">发布</button>
        <button id="unPublishBtn" class="pure-button pure-button-active hide">已发布, 撤销</button>
    </div>
</div>
{% endblock %}
{% block bodyScript %}
<script src="/scripts/editor-0.js"></script>
{% endblock %}