{% extends "layout_base.html" %}
{% import 'main/macros.html' as macros with context %}
{% block pageTitle %}问答列表{% endblock %}
{%- block content -%}
<style type="text/css">
</style>
<div class="row">
    <div id="tags-area">
        <ul>
            <li><a class="tag-header">我的标签</a></li>
            {% for t in tags %}
            <li><a href="/member/questions/tag/{{t.name}}">{{t.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="main-area">
        <a class="pure-button" href="/member/create_question">创建问答</a>
        <div id="catTabs">
            <ul>
                <li><a id="draftTab" class="selected" href="#">&nbsp;&nbsp;&nbsp;&nbsp;草稿箱&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li><a id="publishTab" href="#">&nbsp;&nbsp;&nbsp;&nbsp;已发表&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
        </div>
        <div id="entries-container">
            {% for q in drafts %}
            {{ macros.renderQuestionEntry(q) }}
            {% endfor %}
        </div>
    </div>
</div>
{%- endblock -%}
{% block bodyScript %}
<script src="/scripts/member-0.js"></script>
{% endblock %}