{% extends "home/layout.html" %}
{% import 'home/macros.html' as macros with context %}
{% block pageTitle %}登录{% endblock %}
{% block article %}
<form class="sign-form" role="form" action="/api/sign-in" method="post">
  <h2>用户登录</h2>
  {{macros.showFormProtector()}}
  <input type="hidden" name="continue" value="{{continueUrl}}"/>

  <div class="form-group {% if errors.get('name') is not none %}has-error{% endif %}">
    <label for="nameInput">邮箱</label>
    <input type="text" class="form-control" name="name" id="nameInput" placeholder="输入邮箱地址" value="{{user.name}}">
    <span class="help-block">{{ errors.get('name')|handle_error_code }}</span>
  </div>
  <div class="form-group {% if errors.get('pwd') is not none %}has-error{% endif %}">
    <label for="passwordInput">密码</label>
    <input type="password" class="form-control" name="pwd" id="passwordInput" placeholder="输入密码" value="{{user.pwd}}">
    <span class="help-block">{{ errors.get('pwd')|handle_error_code }}</span>
  </div>
  <input id="signSubmitBtn" type="submit" class="btn btn-primary btn-block" value="登录">
</form>
{% endblock %}