{% macro showFlash() -%}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="flashContainer">
{% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
</div>
{% endif %}
{% endwith %}
{%- endmacro %}
