{% extends "layout_base.html" %}
{% import 'auth/macros.html' as macros with context %}
{% block pageTitle %}新用户注册{% endblock %}
{% block content %}
{{macros.showFlash()}}
<form id="signForm" class="pure-form pure-form-stacked" role="form" method="post">
  <h3>抱歉，暂未开放 :(</h3>

</form>
{% endblock %}