{% extends "layout_base.html" %}
{% import 'auth/macros.html' as macros with context %}
{% block pageTitle %}登录{% endblock %}
{% block content %}
{{macros.showFlash()}}
<form id="signForm" class="pure-form pure-form-stacked" role="form" action="/signin" method="post">
    <h3>用户登录</h3>
    <fieldset>
        {{ form.hidden_tag() }}
        <div class="input-wrapper">
            {{ form.email(placeholder="邮箱") }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>

        <div class="input-wrapper">
            {{ form.password(placeholder="密码") }}
            {% for error in form.password.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>

        <div>
            <input id="signSubmitBtn" type="submit" class="pure-button pure-button-primary" value="登录">
        </div>
    </fieldset>
</form>
{% endblock %}