{% extends "layout_base.html" %}
{% block pageTitle %}站点地图{% endblock %}
{% block body %}
<ol>
  {% for q in questions %}
  <li><a href="http://veryti.com/questions/{{q[0]}}">{{q[2]}}</a></li>
  {% endfor %}
</ol>
{% endblock %}