{% extends "home/layout.html" %}
{% block pageTitle %}编辑答案 - 面试题记{% endblock %}
{% block pageContent %}
<form role="form" action="/admin/answer" method="post">
  <input type="hidden" name="questionId" value="{{answer.questionId}}">
  <input type="hidden" name="answerId" value="{{answer.answerId}}"/>
  <div id="contentGroup" class="form-group">
    <textarea class="form-control" rows="20" data-provide="markdown" name="content">{{ answer.content|none_to_empty }}</textarea>
    <span class="help-block">10~2000个字符</span>
  </div>
  <input type="submit" class="btn btn-primary" value="提交更改">
</form>
{% endblock %}