{% extends "home/two_col_layout.html" %}
{% block pageTitle %}分享问题 - 面试题记{% endblock %}
{% block techAskNav %}active{% endblock %}
{% block filerBox %}{% endblock %}
{% block pageBox %}
<div class="question-editor">
    <form action="/question/ask" method="post">
        {{macros.showFormProtector()}}
        <input type="hidden" name="questionId" value="{% if question.questionId is defined %}{{ question.questionId|none_to_empty }}{% endif %}">
        <input type="text" style="display:none">
        <div class="form-group {% if errors.get('title') is not none %}has-error{% endif %}">
            <label for="titleInput">标题<span title="必填">*</span></label>
            <input id="titleInput" name="title" type="text" class="form-control" placeholder="输入题目标题" value="{{ question.title|none_to_empty }}">
            {% if errors.get('title') is not none %}
            <span class="help-block">5~200个字符</span>
            {% endif %}
        </div>
        <div class="form-group {% if errors.get('content') is not none %}has-error{% endif %}">
            <label for="detailInput">详细描述</label>
            <textarea id="detailInput" name="content" class="form-control" data-provider="markdown" data-handler="bootstrap-markdown-cmdPreview" rows="6" placeholder="请输入问题详细描述">{{ question.content|none_to_empty }}</textarea>
            {% if errors.get('content') is not none %}
            <span class="help-block">不能超过5000个字符</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label>公司</label>
            <select id="companyDropdown" name="companies" class="form-control"  onchange="javascript:toggleBox('companyDropdown', 'otherCompanyInput')">
              <option></option>
              {% for c in options.companies %}
                <option value="{{c.itemId}}"
                    {%- if question.dataCache -%}
                        {% if c.itemId in question.get_selected_company_id_list() %} selected {% endif %}
                    {%- elif options.selectedCompanies %}
                        {% if c.itemId in options.selectedCompanies %} selected {% endif -%}
                    {%- endif -%}
                >{{c.name}}</option>
              {% endfor %}
              <option value {% if options.isNewCompanies %}selected{% endif %}>--添加新公司--</option>
            </select>
            <input id="otherCompanyInput" name="newCompany" type="text"
                   value = "{{options.newCompany}}"
                   class="form-control second-input"
                   style="{% if options.isNewCompanies is not none and not options.isNewCompanies %}display: none{% endif %}"
                   placeholder="输入新公司名称">
        </div>
        <div class="form-group">
            <label>职位</label>
            <select id="positionDropdown" name="positions" class="form-control" onchange="javascript:toggleBox('positionDropdown', 'otherPositionInput')">
              <option></option>
              {% for p in options.positions %}
                <option value="{{p.itemId}}"
                    {%- if question.dataCache -%}
                        {% if p.itemId in question.get_selected_position_id_list() %} selected {% endif %}
                    {%- elif options.selectedPositions -%}
                        {% if p.itemId in options.selectedPositions %} selected {% endif %}
                    {%- endif -%}
                >{{p.name}}</option>
              {% endfor %}
              <option value {% if options.isNewPositions %}selected{% endif %}>--添加新职位--</option>
            </select>
            <input id="otherPositionInput" name="newPosition" type="text"
                   value = "{{options.newPosition}}"
                   class="form-control second-input" style="{% if options.isNewPositions is not none and not options.isNewPositions %}display: none{% endif %}"
                   placeholder="输入新职位名称">
        </div>
        <div class="form-group {% if errors.get('topics') is not none %}has-error{% endif %}">
            <label>话题<span title="必填">*</span></label>
            <select id="topicDropdown" name="topics" multiple class="form-control" onchange="javascript:toggleBox('topicDropdown', 'otherTopicInput')">
                {% for t in options.topics %}
                <option value="{{t.itemId}}"
                    {%- if question.dataCache -%}
                        {% if t.itemId in question.get_selected_topic_id_list() %} selected {% endif %}
                    {%- elif options.selectedTopics -%}
                        {% if t.itemId in options.selectedTopics %} selected {% endif %}
                    {%- endif -%}
                >{{t.name}}</option>
                {% endfor %}
                <option value {% if options.isNewTopics %}selected{% endif %}>--添加新话题--</option>
            </select>
            <input id="otherTopicInput" name="newTopics" type="text"
                   value = "{{options.newTopics}}"
                   class="form-control second-input" style="{% if options.isNewTopics is not none and not options.isNewTopics %}display: none{% endif %}"
                   placeholder="输入新话题名称，当需要多个话题时，以逗号分割">
            {% if errors.get('topics') is not none %}
            <span class="help-block">请至少选择一个话题</span>
            {% endif %}
        </div>
        {% if isAdmin %}
        <div class="form-group {% if errors.get('source') is not none %}has-error{% endif %}">
            <label for="sourceInput">来源</label>
            <input id="sourceInput" name="source" type="text" class="form-control" value="{{ question.source|none_to_empty }}">
            {% if errors.get('source') is not none %}
            <span class="help-block">不能超过100个字符</span>
            {% endif %}
       </div>
       <div class="form-group {% if errors.get('sourceUrl') is not none %}has-error{% endif %}">
            <label for="sourceUrlInput">来源URL</label>
            <input id="sourceUrlInput" name="sourceUrl" type="text" class="form-control" value="{{ question.sourceUrl|none_to_empty }}">
            {% if errors.get('sourceUrl') is not none %}
            <span class="help-block">不能超过300个字符</span>
            {% endif %}
       </div>
       {% endif %}
        <input id="askSubmitBtn" type="submit" class="btn btn-primary disabled" value="提交">
        {% with qid=question.questionId %}
        {% if qid is defined and qid is not none %} <a type="text" class="btn btn-default" href="/question/{{question.questionId}}">取消</a>{% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}