{% macro showFormProtector() -%}
<input id="tokenInput" type="hidden" name="token" value="{{token}}">
<input id="email" type="text" style="display: none" name="email" placeholder="This is an honeypot">
<input type="text" style="display: none" name="ts" value="{{ts}}">
{%- endmacro %}

{% macro showVote(value, showFav, itemType, itemId) %}
<p class="vote pull-left">
    <a class="btn btn-info btn-xs vote-up" onclick="javascript:vote('{{itemType}}', '{{itemId}}', 'up')" rel="nofollow"><span class="glyphicon glyphicon-thumbs-up"></span></a>
    <em id="{{itemType}}-{{itemId}}">{{value}}</em>
    <a class="btn btn-info btn-xs vote-down" onclick="javascript:vote('{{itemType}}', '{{itemId}}', 'down')" rel="nofollow"><span class=" glyphicon glyphicon-thumbs-down"></span></a>
    <span id="{{itemType}}-{{itemId}}-msg" style="display: none; color: #c09853;">您投过票了</span>
    {% if showFav -%}
    <a class="bookmark" href="javascript: void(0);" title="收藏这个题目">
      <span class="glyphicon glyphicon-star-empty"></span>
    </a>
    {%- endif -%}
</p>
{%- endmacro %}

{% macro renderQuestionSummary(question) -%}
<div class="q-entry">
  <div class="pull-left status">
    <div class="reply-state"><em title="该问题已有 {{question.answers}} 个回复">{{question.answers}}</em>回复</div>
  </div>
  <div class="bg-main">
    <h3><a class="dark-a" href="/question/{{question.questionId}}">{{question.title}}</a></h3>
    <div class="meta">
      {% with user = users_map.get(question.owner) -%}
        {%- if user is not none -%}
          <a class="meta-user" data-toggle="tooltip" data-placement="left" title="{{user.get('name')}}"><img src="{{user.get('avatar_url')}}" width="18" height="18"></a>
        {%- else -%}
          <a><img src="/images/user-40.png" width="18" height="18"></a>
        {%- endif -%}
      {%- endwith -%}
      <span class="meta-item date">{{ question.createdAt|friendly_date }}</span>
      {%- with tags = question.get_labels() -%}
      <ul class="meta-item tags">
        {%- for c in tags.companies -%}
        <li><a href="/questions/company-{{c.id}}">{{c.name}}</a></li>
        {%- if loop.index < tags.companies|length -%},&nbsp;{%- endif -%}
        {%- endfor %}
        {%- if tags.companies|length > 0 -%},&nbsp;{%- endif -%}
        {%- for p in tags.positions -%}
        <li><a href="/questions/position-{{p.id}}">{{p.name}}</a></li>
        {%- if loop.index < tags.positions|length -%},&nbsp;{%- endif -%}
        {%- endfor %}
        {%- if tags.positions|length > 0 -%},&nbsp;{%- endif -%}
        {%- for t in tags.topics -%}
        <li><a href="/questions/topic-{{t.id}}">{{t.name}}</a></li>
        {%- if loop.index < tags.topics|length -%},&nbsp;{%- endif -%}
        {%- endfor -%}
      </ul>
      {%- endwith -%}
      <span class="meta-item views">{{question.read}}次浏览</span>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro renderQuestionPageMeta(question) %}
  <meta name="description" content="面试题：{{question.title}}" />
  <meta name="keywords" content="程序员,面试题目,{{question.get_label_names()}}" />
{%- endmacro %}

{% macro renderQuestion(question) -%}
<div class="q-entry clearfix">
    {{ showVote(question.vote, False, 'Q', question.questionId) }}
    <div class="main">
        <h3>{{question.title}}</h3>
        <pre class="pre-content">{{question.content|simple_value_escape|safe }}</pre>
        <div class="meta">
            {% with user = users_map.get(question.owner) -%}
              {%- if user is not none -%}
                <a class="meta-user" data-toggle="tooltip" data-placement="left" title="{{user.get('name')}}"><img src="{{user.get('avatar_url')}}" width="18" height="18"></a>
              {%- else -%}
                <a><img src="/images/user-40.png" width="18" height="18"></a>
              {%- endif -%}
            {%- endwith -%}
            <span class="meta-item date">{{ question.createdAt|friendly_date }}</span>
            {%- with tags = question.get_labels() -%}
            <ul class="meta-item tags">
                {%- for c in tags.companies -%}
                <li><a href="/questions/company-{{c.id}}">{{c.name}}</a></li>
                {%- if loop.index < tags.companies|length -%},&nbsp;{%- endif -%}
                {%- endfor -%}
                {%- if tags.companies|length > 0 -%},&nbsp;{%- endif -%}
                {%- for p in tags.positions -%}
                <li><a href="/questions/position-{{p.id}}">{{p.name}}</a></li>
                {%- if loop.index < tags.positions|length -%},&nbsp;{%- endif -%}
                {%- endfor -%}
                {%- if tags.positions|length > 0 -%},&nbsp;{%- endif -%}
                {%- for t in tags.topics -%}
                <li><a href="/questions/topic-{{t.id}}">{{t.name}}</a></li>
                {%- if loop.index < tags.topics|length -%},&nbsp;{%- endif -%}
                {%- endfor -%}
            </ul>
            {%- endwith -%}
            <span class="meta-item views">{{question.read}}次浏览</span>
            {%- if isAdmin -%}
            <span><a href="/question/edit/{{question.questionId}}" rel="nofollow">编辑</a></span>|
            <span><a href="/question/delete/{{question.questionId}}" rel="nofollow">删除</a></span>
            {%- endif -%}
        </div>
    </div>
</div>
{%- endmacro %}

{%- macro showSiteIntroduction() %}
<aside class="alert alert-info hidden-xs">
  <strong>面试题记</strong>是一个专为程序员提供的，对面试题目进行搜集、整理、分享及问答的网站。
</aside>
{% endmacro -%}

{%- macro showCompanies() %}
<aside class="">
  <h3>热门公司</h3>
  <div class="list-group">
    {%- for item in topCompanies %}
    <a href="/questions/company-{{item.itemId}}" class="list-group-item">{{item.name}}<span class="badge">{{item.total}}</span></a>
    {%- endfor %}
  </div>
</aside>
{% endmacro -%}

{%- macro showPositions() %}
<aside class="">
  <h3>热门职位</h3>
  <div class="list-group">
    {%- for item in topPositions %}
    <a href="/questions/position-{{item.itemId}}" class="list-group-item">{{item.name}}<span class="badge">{{item.total}}</span></a>
    {%- endfor %}
  </div>
</aside>
{% endmacro -%}

{%- macro showTopics() %}
<aside class="">
  <h3>热门话题</h3>
  <div class="list-group">
    {%- for item in topTopics %}
    <a href="/questions/topic-{{item.itemId}}" class="list-group-item">{{item.name}}<span class="badge">{{item.total}}</span></a>
    {%- endfor %}
  </div>
</aside>
{% endmacro -%}

{% macro showAnswer(answer) -%}
<div class="answer clearfix">
    {{ showVote(answer.vote, False, 'A', answer.answerId) }}
    <div class="answer-body">
        <pre class="pre-content">{{ answer.content|simple_value_escape|safe }}</pre>
        <div class="meta">
            {% with user = users_map.get(answer.owner) -%}
              {%- if user is not none -%}
                <a class="meta-user" data-toggle="tooltip" data-placement="left" title="{{user.get('name')}}"><img src="{{user.get('avatar_url')}}" width="18" height="18"></a>
              {%- else -%}
                <a><img src="/images/user-40.png" width="18" height="18"></a>
              {%- endif -%}
            {%- endwith -%}
            <span class=""><a></a></span>
            <span class="meta-item date">{{ answer.createdAt|friendly_date }}</span>
            {% if isAdmin %}
            <span class="meta-item"><a href="/admin/answer/{{answer.answerId}}">编辑</a> | <a href="/answer/delete/{{answer.answerId}}">删除</a></span>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro showAnswers(answers) -%}
<div class="answers-wrapper">
    <h2>思路分享</h2>
    <div class="answers">
        {% for answer in answers %}
        {{showAnswer(answer)}}
        {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro showCommentBox(question_id) -%}
{% if dynamicConfig.isAnonymousCommentOn() %}
<div class="comment-wrapper">
    <h3>分享思路</h3>
    <div class="comment-tip">要写代码? 使用<code>{{ '{{{' }}</code>和<code>{{ '}}}' }}</code>来保留代码之间的空白。</div>
    <form id="replyForm" role="form" action="/answer">
      {{showFormProtector()}}
      <input type="hidden" name="questionId" value="{{question_id}}">
      <div id="contentGroup" class="form-group">
        <textarea class="form-control" rows="8" name="content"></textarea>
        <span class="help-block">10~2000个字符</span>
      </div>
      <input type="submit" class="btn btn-primary" value="匿名回复">
    </form>
</div>
{% endif %}
{%- endmacro %}

{%- macro showQuestionPagination(pagination) -%}
  {%- if pagination.visible -%}
  <ul class="pagination">
    <li {% if not hasPrevious %}class="disabled"{% endif %}><a href="#">«</a></li>
    {%- for p in pagination.frontSection -%}
      {%- if p == pagination.pageIndex -%}
      <li class="active"><a>{{p}}<span class="sr-only">(current)</span></a></li>
      {%- else -%}
      <li><a href="{{pagination.getUrl(p)}}">{{p}}</a></li>
      {%- endif -%}
    {%- endfor -%}
    {%- if pagination.middleSection is not none and pagination.middleSection|length > 0 -%}
      <li><a>...</a></li>
      {%- for p in pagination.middleSection -%}
        {%- if p == pagination.pageIndex -%}
        <li class="active"><a>{{p}}<span class="sr-only">(current)</span></a></li>
        {%- else -%}
        <li><a href="{{pagination.getUrl(p)}}">{{p}}</a></li>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {%- if  pagination.lastSection is not none and pagination.lastSection|length > 0 -%}
      <li><a>...</a></li>
      {%- for p in pagination.lastSection -%}
        {%- if p == pagination.pageIndex -%}
        <li class="active"><a>{{p}}<span class="sr-only">(current)</span></a></li>
        {%- else -%}
        <li><a href="{{pagination.getUrl(p)}}">{{p}}</a></li>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    <li {% if not hasNext %}class="disabled"{% endif %}><a href="#">»</a></li>
  </ul>
  {%- endif -%}
{%- endmacro -%}