{% extends "layout_base.html" %}
{%- block content -%}
<style type="text/css">
    body {
        background-image: url(/images/bg.png);
    }
</style>
<div class="row">
    <div id="tags-area">
        <ul>
            <li><a class="tag-header" href="/">所有标签</a></li>
            {% for t in tags %}
            <li><a href="/questions/tag/{{t.name}}">{{t.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="main-area">
        {% block mainContent %}{% endblock %}
    </div>
</div>
{%- endblock -%}
{%- block footer -%}
<footer>
    <div id="footer-top">
        <a href="/about">关于</a> · <a href="/help">帮助</a>
    </div>
    <div id="footer-bottom">
        ©2014 · 当前呈现版本14.10.07 · <a href="http://www.miibeian.gov.cn/">粤ICP备12075914号-1 </a>
    </div>
</footer>
{%- endblock -%}