{% macro renderQuestionEntry(question) -%}
<article class="entry">
    <div class="question-header">
        <h2><a href="/question/{{question.id}}">{{question.title}}</a></h2>
        <div class="meta">
            <a href="/questions/author/{{question.author_id}}" title="Posts by The Smashing Editorial" rel="author">{{question.author}}</a> /
            {{ question.update_date | friendly_date }} /
            {% for t in question.tags %}
            <a href="">{{t}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="answer">
        {{ question.excerpt | safe }}
    </div>
    <a class="pure-button btn-more" href="/question/{{question.id}}">查看全文...</a>
    {% if question.author_id == current_user_id %}
    <a class="pure-button btn-more" href="/member/edit_question?id={{question.id}}" target="_blank">编辑</a>
    {% endif %}
</article>
{%- endmacro %}

{% macro renderQuestion(question, author) -%}
<article class="entry">
    <div class="question-header">
        <h2>{{question.title}}</h2>
        <div class="meta">
            <a href="/questions/author/{{question.author_id}}" title="Posts by The Smashing Editorial" rel="author">{{question.author}}</a> /
            {{ question.update_date | friendly_date }} /
            {% for t in question.tags %}
            <a href="">{{t}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="answer">
        {{ question.answer | safe }}
    </div>
    {% if question.author_id == current_user_id %}
    <a class="pure-button btn-more" href="/member/edit_question?id={{question.id}}" target="_blank">编辑</a>
    {% endif %}
</article>
<div class="bio">
    <div class="info">
        <div class="avatar"></div>
        <div class="detail">
            <h2>{{author.name}}</h2>
            {% if author.desc %}
            <p>{{author.desc}}</p>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro showAuthorInfo(author) -%}
<div class="info-wrapper">
    <div class="info">
        <div class="avatar"></div>
        <div class="detail">
            <h2>{{author.name}}</h2>

            <p>{{author.desc}}</p>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro showTagInfo(tag) -%}
<div class="info-wrapper">
    <div class="info">
        <h2>标记为“{{tag}}”的问答</h2>

        <p>我们很高兴为您呈现以下所有标记为“{{tag}}”的问答。</p>
    </div>
</div>
{%- endmacro %}