<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="zh-CN"> <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta property="qc:admins" content="33412620421416375"/>
    <title>{% block pageTitle %}{% endblock %}</title>
    {%- block headMeta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles/main-0.css">
    {%- block headLink %}{% endblock %}
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/scripts/jquery-1.11.1.min.js"><\/script>')</script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?7c2a45d09af5d8c7b34fe54e488494de";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">您正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/">更新您的浏览器</a>或<a href="http://www.google.com/chromeframe/?redirect=true">激活谷歌Chrome Frame</a>来增强您的体验。
</p>
<![endif]-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<nav id="nav" role="navigation">
    <div class="nav-bar nav-expand">
        <div id="logo"><a href="/"><img src="/images/logo.png"></a></div>
        <ul id="nav-member">
            <li class="anonymous-show nav-item"><a href="/signin">登录</a></li>
            <li class="anonymous-show nav-item"><a href="/signup">注册</a></li>
            <li class="member-show nav-item"><a href="/member/questions">我的主页</a></li>
            <li class="member-show nav-item"><a href="/member/settings">设置</a></li>
            <li class="member-show nav-item"><a href="/logout">登出</a></li>
        </ul>
    </div>
</nav>
<div id="content-wrapper">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>
{% block footer %}{% endblock %}
<script src="/scripts/jquery-plugins-1.0.0.min.js"></script>
<script src="http://apps.bdimg.com/libs/prettify/r298/prettify.min.js"></script>
<script type="application/javascript">
var prettifyCode = function() {
    $('pre').addClass('prettyprint linenums');
    window.prettyPrint && prettyPrint();
};
$(function(){
  if (document.cookie.indexOf('logged_in=1') >= 0) {$(".anonymous-show").hide();$(".member-show").show();}
  prettifyCode();
});
</script>
{% block bodyScript %}{% endblock %}
</body>
</html>
